.LabeledTextInput--container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.LabeledTextInput--column {
    flex: 1;
    padding: 16px;
}

@media only screen and (max-width: 800px) {
    .LabeledTextInput--container {
        display: inline-block;
    }
    .LabeledTextInput--column {
        width: 100%;
    }
}
