.ConnectToMetaMask--container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* flex: 1 1 0; */
}
.ConnectToMetaMask--column {
    flex: 1;
    padding: 16px;
}

@media only screen and (max-width: 800px) {
    .ConnectToMetaMask--container {
        display: inline-block;
    }
    .ConnectToMetaMask--column {
        width: 100%;
    }
}